{% extends 'base.html.twig' %}

{% block title %}Like{% endblock %}
{% block body %}
    <div class="container">
        <h2>User {{ user.firstName }} liked article {{ article.title }}</h2>
    </div>
{% endblock %}